@media (min-width: 415px) {
  main {
    display: none;
  }
  .resize {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 4rem;
    text-align: center;
  }
}
.contenttt {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 400px;
  font-size: 4rem;
}
